@charset 'utf-8';

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@import 'forms';

@include foundation-global-styles;
//@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
// @include foundation-forms;
// @include foundation-range-input;
//@include foundation-accordion;
//@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
//@include foundation-slider;
//@include foundation-sticky;
@include foundation-reveal;
//@include foundation-switch;
@include foundation-table;
//@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

.qt-trialform {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.qt-leader {
    background: url('/assets/img/road.jpg') no-repeat top;
    background-size: cover;
    color: $white;
}

.qt-menu {
    color: $white !important;
    font-weight: bolder;
}

p a {
  border-bottom: 1px dotted $black;

  &:hover {
    border-bottom: 1px dotted $primary-color;
  }
}

a {
  &:hover {
    color: $primary-color !important;
  }
}

.qt-logo {
    padding-left: 0.5em;
    height: 50px;
}

.qt-button {
    @extend .button;
    background-color: transparent;
    border-width: 4px;
    border-color: $white;
    color: $white;
    font-weight: bold;
    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white !important;
    }
}

.qt-other-button {
    @extend .button;
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white !important;
    }
}


.qt-container {
    width: 100%;
}

.qt-gimpy-icon {
  color: $primary-color;
  font-size: 5em;
}

.qt-stripe-light {
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.qt-stripe-unknown {
    background-color: #000;
    width: 100%;
    padding-top: 15px;
    // padding: 20px;
    text-align: center;
}

.qt-stripe-dark {
    background-color: #181818;
    color: $white;
    width: 100%;
    padding: 20px;
    text-align: center;
}


// See http://foundation.zurb.com/forum/posts/39187-responsive-menu-flashes-on-page-load
.title-bar {
   display: none;
}

////////////////////////////////
// Footer (originally taken from http://zurb.com/building-blocks/footer)
////////////////////////////////

$text-color: #fff;

.footer {
  background-color: #505558;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300;
    font-size: .8em;
    color: $text-color;
    border-bottom: none;
  }
}

.footer .qt-logo {
    height: 4em;
    margin: 1em;
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}

.footer-icons {
  list-style-type: none;
  li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: .5em;
  }
}

.cc-window {
  font-family: $body-font-family !important;
}

.cc-btn {
  height: 100% !important;
  padding: 0 !important;
  border-style: none !important;
  color: white !important;
}

////////////////////////////////
// Pricing (originally taken from http://zurb.com/building-blocks/pricing-table-foundation-6)
////////////////////////////////

.pricing-table {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);

  li {
    // border-bottom: dotted 1px #DDDDDD;
    font-size: 0.875rem;
    padding: 0.875rem 1.125rem;
    &:last-child {
      border-bottom: 0;
    }
  }

  .title {
    background-color: #333333;
    color: #EEEEEE;
    font-size: 1.0rem;
    font-weight: bold;
    border: 0;
  }

  .price {
    // background-color: #F6F6F6;
    color: $primary-color;
    font-size: 1.75rem;
    border-bottom: 0;
  }

  .description {
    color: #777777;
    font-size: 0.875rem;
  }

  .button {
    margin: 0;
  }
}
/* Used in the product pages to space rows in the grid */
.qt-product-row {
  padding-bottom:20px;
  padding-top: 20px;
}

.qt-mockup {
  padding: 20px;
}

.qt-phone-mockup {
  padding-top: 20px;
  padding-bottom: 20px;
}

.qt-pad-bottom {
  padding-bottom: 20px;
}

/* Used for our how it works diagram */
.qt-diagram {
  padding-top: 30px;
  padding-bottom: 30px;
}

.qt-play-button {
  font-size: 6em;
  color: $white;
  text-align: center;
  display: block;
}

div.qt-signup {
  vertical-align: middle;
}
.qt-signup .email {
    border: 1px solid #ccc;
    font-size:14px;
    height: 40px;
    padding: 8px;
    border-radius: 4px 0 0 4px;
    color: #333;
    font-weight: bold;
    width: 210px;
    float: left;
}

 @media screen and (min-width: 480px) {
   .qt-signup .email {
     width: 400px;
   }
 }

.qt-signup .button {
  height: 40px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #db1e7b;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

