@charset 'utf-8';

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$qt-gradient-1: #808588;
$qt-gradient-2: darken($qt-gradient-1, 100%);

$qt-gradient-faded-1: fade-out($qt-gradient-1, 0.3);
$qt-gradient-faded-2: fade-out($qt-gradient-2, 0.1);

.qt-leader {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5db1+0,ef017c+100;Pink+3D+%231 */
    background: $qt-gradient-1; /* Old browsers */
    background: -moz-linear-gradient(top,  $qt-gradient-faded-1 0%, $qt-gradient-faded-2 100%), url('/assets/img/geofence_trimmed.png') no-repeat center; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $qt-gradient-faded-1 0%,$qt-gradient-faded-2 100%), url('/assets/img/geofence_trimmed.png') no-repeat center; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $qt-gradient-faded-1 0%, $qt-gradient-faded-2 100%), url('/assets/img/geofence_trimmed.png') no-repeat center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$qt-gradient-1', endColorstr='$qt-gradient-2',GradientType=0 ); /* IE6-9 */
    background-size: cover;
    color: #FFFFFF;
}

.qt-menu {
    color: white !important;
    font-weight: bolder;
}

a {
  &:hover {
    color: $primary-color !important;
  }
}

.qt-logo {
    padding-left: 0.5em;
    height: 35px;
}

.qt-button {
    @extend .button;
    background-color: transparent;
    border-color: $white;
    color: $white;
    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white !important;
    }
}

.qt-other-button {
    @extend .button;
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white !important;
    }
}


.qt-container {
    padding: 50px;
}

////////////////////////////////
// Footer (originally taken from http://zurb.com/building-blocks/footer)
////////////////////////////////

$text-color: #fff;

.footer {
  background-color: $qt-gradient-1;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300;
    font-size: .8em;
    color: $text-color;
  }
}

.footer .qt-logo {
    height: 4em;
    margin: 1em;
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}

.footer-icons {
  list-style-type: none;
  li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: .5em;
  }
}
