<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
        <header>
            <h2>QUARTIC Technologies</h2>
        </header>

        <p>Use the <strong>data</strong> you have to build the <strong>business</strong> you want
        <br />
    </div>

</section>
