<div class="product-section row">
    <div class="small-12 columns text-left">
        <h1 style="text-align: left">Case study: highway maintenance.</h1>
        <h5>
            Highway authorities in the UK are responsible for maintaining thousands of miles of paved carriageway and footway.
            Both reactive maintenance and proactive resurfacing are expensive, and mistakes cost <b>time</b> and <b>money</b>.
        </h5>
        <h5>
            Quartic integrates existing <b>asset databases</b> and
            <b>visual and digital inspection data</b>, along with ad-hoc spreadsheets to present a
            <b>unified</b> picture of the network condition and maintenance schedule.
        </h5>
        <h5>
            Our road-specific insights use all available data to accurately model <b>deterioration</b> and suggest <b>optimal</b>
            maintenance and treatment strategies. For example, we are able to spot opportunities for <b>targeted patch resurfacing</b>,
            leading to considerable <b>cost savings</b>.
        </h5>
    </div>
</div>
