<div class="row align-middle">
    <div class="small-12 medium-4 columns">
        <!-- TODO: need a better screenshot, and need to fix the shadow effect -->
        <img
            src="/assets/img/map_screenshot.png"
            alt="Quartic Map"
        />
    </div>
    <div class="small-12 medium-8 columns">
        <h1>Case study: highway maintenance.</h1>
        <h5 style="padding: 10px">
            Highway authorities in the UK are responsible for maintaining 1000's of km of paved carriageway and footway.
            Both reactive maintenance proactive resurfacing are expensive and mistakes cost <b>time</b> and <b>money</b>.
        </h5>
        <h5 style="padding: 10px">
            Quartic integrates <b>asset databases</b> (e.g. Pitney Bowes Confirm), <b>visual and digital inspection data</b> (HMDIF)
            and ad-hoc spreadsheets to give a single <b>unified</b> picture of road condition and maintenance work.
        </h5>
        <h5 style="padding: 10px">
            Our road-specific insights use all available data to accurately model <b>deterioration</b> and suggest <b>optimal</b>
            maintenance and treatment strategies. For example, we are able to spot opportunities for <b>targeted resurfacing</b> leading to considerable <b>cost savings</b>.
        </h5>
    </div>
</div>