<div class="product-section row align-middle">
    <div class="small-12 medium-6 medium-push-6 columns">
        <div class="hanging-off-screen-right">
            <img src="/assets/img/screenshot_asset.png" alt="Quartic asset view" />
        </div>
    </div>

    <div class="small-12 medium-6 medium-pull-6 columns">
        <h1>Good decisions start with clean data.</h1>
        <h4>
            With Quartic's <b>software platform</b>, you'll finally make sense of your infrastructure.
        </h4>
        <h4>
            Quartic taps data from <b>databases</b> and <b>IoT</b> systems, as well as <b>dark 
            data</b> trapped in spreadsheets and other files.
        </h4>
        <h4>
            Drag and drop a spreadsheet, or use our standard connectors to talk to your existing IT systems.
        </h4>
    </div>
</div>