<div class="product-section row align-middle">
    <div class="small-12 medium-6 medium-push-6 columns">
        <div class="hanging-off-screen-right">
            <img src="/assets/img/screenshot_asset_view.png" alt="Quartic asset view" />
        </div>
    </div>

    <div class="small-12 medium-6 medium-pull-6 columns">
        <h1>Tame those spreadsheets!</h1>
        <h4>
            Your <b>decisions</b> can only be as good as your <b>data</b>.
        </h4>
        <h4>
            Quartic taps data from <b>databases</b> and <b>IoT</b> systems as well <b>dark 
            data</b> trapped in spreadsheets and other files.
        </h4>
        <h4>
            Drag and drop a spreadsheet to upload and consolidate your infrastructure picture.
        </h4>
    </div>
</div>