<div class="row align-middle">
    <div class="small-12 medium-6 columns">
        <!-- TODO: need a better screenshot, and need to fix the shadow effect -->
        <img
            src="/assets/img/map_screenshot.png"
            alt="Quartic Map"
        />
    </div>
    <div class="small-12 medium-6 columns">
        <h1>Tame those spreadsheets!</h1>
        <h4 style="padding: 10px">
            Your <b>decisions</b> can only be as good as your <b>data</b>.
        </h4>
        <h4 style="padding: 10px">
            As well as integrating data from <b>enterprise databases</b> and <b>IoT</b> systems, 
            Quartic taps <b>dark data</b> locked away in spreadsheets and other files. 
        </h4>
        <h4 style="padding: 10px">
            Users can quickly upload their own files to ensure a complete picture of your infrastructure is accessible by the whole team.
        </h4>
    </div>
</div>