<script src="/assets/js/app.js"></script>
<script type="text/javascript">
    $(function() {
        $(document).foundation();

        downloadScript("//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js");
        initFullPage();
        initCookieConsent();
        initVideo();
    });

    function downloadScript(url) {
        var element = document.createElement("script");
        element.src = url;
        document.body.appendChild(element);
    }

    function initFullPage() {
        $("#fullpage").fullpage({
            fixedElements: "#nav",
            navigation: true,
            navigationPosition: "right",
            navigationTooltips: ["Home", "How it works", "GroundControl"],
        });
    }

    function initCookieConsent() {
        // Because the external script may not have loaded yet
        var element = window.cookieconsent;
        if (element) {
            element.initialise({
                "palette": {
                    "popup": {
                        "background": "#333"
                    },
                    "button": {
                        "background": "transparent",
                        "text": "#f1d600",
                        "border": "#f1d600"
                    }
                },
                "position": "bottom",
            });
        } else {
            setTimeout(initCookieConsent, 500);
        }
    }

    function initVideo() {
        var url = "https://www.youtube.com/embed/cAR_z7QRptQ?rel=0&showinfo=0&autoplay=1";
        $(window).on("open.zf.reveal", function() {
            $("#quartic-video").attr('src', url);
            gaEvent('Videos', 'play', 'Quartic intro video');
        });

        $(window).on("closed.zf.reveal", function() {
            $("#quartic-video").attr('src', '');
        });
    }

    function gaEvent(category, action, label) {
        if (typeof ga !== 'undefined') {
            ga('send', 'event', category, action, label);
        } else {
            console.log("sending event", category, action, label);
        }
    }

    function gaFormEvent(category, action, label, form) {
        return gaEvent(category, action, label + " : " + $(form).serialize());
    }
</script>