<script src="/assets/js/app.js"></script>
<script type="text/javascript">
    $(function() {
        $(document).foundation();

        downloadScript("//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js");
        initFullPage();
        initCookieConsent();
    });

    function downloadScript(url) {
        var element = document.createElement("script");
        element.src = url;
        document.body.appendChild(element);
    }

    function initFullPage() {
        $("#fullpage").fullpage({
            recordHistory: false,
            fixedElements: "#nav",
            navigation: true,
            navigationPosition: "right",
            navigationTooltips: [
                "Big data for big infrastructure.",
                "Imagine untangling things.",
                "Good decisions start with clean data.",
                "Everything at your fingertips.",
                "World class AI.",
                "Case study: highway maintenance.",
                "Find out how Quartic can help."
            ],
        });
    }

    function initCookieConsent() {
        // Because the external script may not have loaded yet
        var element = window.cookieconsent;
        if (element) {
            element.initialise({
                "container": document.getElementById("consent"),
                "palette": {
                    "popup": {
                        "background": "#333"
                    },
                    "button": {
                        "background": "transparent",
                        "text": "#f1d600",
                        "border": "#f1d600"
                    }
                },
                "position": "bottom",
            });
        } else {
            setTimeout(initCookieConsent, 500);
        }
    }

    function gaEvent(category, action, label) {
        if (typeof ga !== 'undefined') {
            ga('send', 'event', category, action, label);
        } else {
            console.log("sending event", category, action, label);
        }
    }

    function gaFormEvent(category, action, label, form) {
        return gaEvent(category, action, label + " : " + $(form).serialize());
    }
</script>