<div class="row">
  <div class="small-8 small-centered text-center columns">

        <h1>Powerful features</h1>
        <p>Below are a few of the features offered by our platform, as seen through our map front end.</p>
        <p>&nbsp;</p>
        <p>
            <ul class="actions">
                <a href="https://www.youtube.com/watch?v=yIHl0DPg9Ow" class="button special small">Watch the video</a>
            </ul>
        </p>
  </div>
</div>

<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src= "/assets/img/tracking_trimmed.png" width=100%>
    </div>
  </div>
  <div class="media-object-section">
    <h2>Live asset tracking</h2>
    <h4>Track any number of assets, anywhere in the world.</h4>
    <p>
    Quartic can be used to track any asset that generates geospatial data. If the data are produced at approximate or long intervals, the platform will calculate a ‘best estimate’ between updates. This allows organisations from security to freight carriers to know where everything they care about is, all the time.</p>
    <p>The positional data can be used to drive further logic, for example, live spacing of transport vehicles. The data appears in all our front ends and can be shared with customers.</p>
  </div>
</div>

<div class="media-object">
  <div class="media-object-section">
    <h2>Geofencing</h2>
    <p>Any feature in the data can act as a geofence, and you can geofence multiple features at the same time.</p>
    <p>Quartic lets you select any features that are relevant to you and trigger events when live activity occurs around them.
    For example, an email alert or something much more complex, like a pricing change.</p>
    <p>This can be fully automated and included in your business logic as a simple set of rules, all the way through to a complex probabilistic model.</p>
  </div>
  <div class="media-object-section">
    <div class="thumbnail">
      <img src= "/assets/img/geofence_trimmed.png" width=100%>
    </div>
  </div>
</div>

<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src= "/assets/img/analysis_trimmed.png" width=100%>
    </div>
  </div>
  <div class="media-object-section">
  <h2>Advanced analytics</h2>
  <p>Perform analytics across all your data.</p>
  </header>
  <p>The Quartic platform provides intuitive tools to understand and interact with your data. This means you could
  look at something basic like the number of crimes per region of a city, or something more sophisticated like the
  price of houses over time close to important landmarks.</p>
  </div>
</div>
