 <div style="width: 100%" class="footer">
      <ul class="footer-icons">
          <li>
              <a href="https://twitter.com/quartictech" class="fi-social-twitter" style="font-size: 2em"></a>
          </li>
          <li>
              <a href="https://facebook.com/quartictech" class="fi-social-facebook" style="font-size: 2em"></a>
          </li>
          <li>
              <a href="https://www.linkedin.com/company/quartic-technologies" class="fi-social-linkedin" style="font-size: 2em"></a>
          </li>
          <li>
              <a href="mailto:contact@quartic.io" class="fi-mail" style="font-size: 2em"></a>
          </li>
      </ul>

      <ul class="footer-links">
          <li>&copy; Quartic Technologies 2017</li>
          <li><a href="/privacy_policy.html">Privacy Policy</a></li>
          <li>Maps:
              <a href="https://www.openstreetmap.org/copyright">&copy; OpenStreetMap</a>,
              <a href='https://www.mapbox.com/about/maps/'>&copy; Mapbox</a>
          </li>
          <li><small>
            All product names, trademarks and registered trademarks are property of their respective owners. All company, product and service names used in this website are for identification purposes only. Use of these names,trademarks and brands does not imply endorsement.</small></li>
      </ul>
</div>
