<footer style="width: 100%" class="footer" id="footer">
   
    <div class="row">
        <div class="columns small-3">
            <ul class="footer-icons">
                    <li>
                        <a href="https://twitter.com/quartictech" class="fi-social-twitter" style="font-size: 2em"></a>
                    </li>
                    <li>
                        <a href="https://facebook.com/quartictech" class="fi-social-facebook" style="font-size: 2em"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/quartic-technologies" class="fi-social-linkedin" style="font-size: 2em"></a>
                    </li>
                    <li>
                        <a href="mailto:contact@quartic.io" class="fi-mail" style="font-size: 2em"></a>
                    </li>
                </ul>
        </div>

               <div class="columns small-3 small-9 text-left">
            &copy; Quartic Technologies 2017 &nbsp;<br/> <a href="/privacy_policy">Privacy Policy</a><br/>
            <small>
               Maps:
                <a href="https://www.openstreetmap.org/copyright">&copy; OpenStreetMap</a>,
                <a href='https://www.mapbox.com/about/maps/'>&copy; Mapbox</a>.

                All product names, trademarks and registered trademarks are property of their respective owners. 
            </small>
        </div>
    </div>
   </footer>