<div class="row">
    <div class="column text-center">
        <h1>Quartic GroundControl</h1>
        <h3 class="subheader">
            All your data managed, prepared and analysed in one platform. Receive and send real time updates to the field.
        </h3>

        <p>&nbsp;</p>
    </div>
</div>

<div class="row medium-expand">
    <div class="small-12 medium-4 columns">
        <h4 class="subheader">alerts and triggers</h4>
        <p>Create automated ‘set and forget’ alerts and triggers for tactical changes in the field. Warn your operatives they’ve moved out of a safe zone, or automatically reroute your deliveries based on new information.</p>
    </div>

    <div class="small-12 medium-4 columns">
        <h4 class="subheader">analysis and visualisation</h4>
        <p>Analyse and visualise enterprise and field data. GroundControl provides an integrated Data Science platform as well as APIs for your existing analysis infrastructure.</p>
    </div>

    <div class="small-12 medium-4 columns">
        <h4 class="subheader">live updates</h4>
        <p>Push complex information out to the field and receive updates from personnel in real time using <b>Quartic Remote</b>.
        </p>
    </div>

</div>
<div class="row medium-expand">
    <div class="small-12 medium-4 columns">
        <h4 class="subheader">data integration</h4>
        <p>Integrate live and static data sources from across your organisation. Our flexible APIs are easy to use. Alternatively, our engineers will take care of this for you.
        </p>
    </div>

    <div class="small-12 medium-4 columns">
        <h4 class="subheader">compute</h4>
        <p>Powerful analysis tools make it easy to dig into the data to identify trends and inefficiencies. Apply costing models to your operations. Match the movements of your personnel to physical assets.
        </p>
    </div>

    <div class="small-12 medium-4 columns">
        <h4 class="subheader">your customers</h4>
        <p><b>Quartic Remote</b> can be used as a customer facing phone app. Gather information and feedback from your customers, tie this into GroundControl and update your operations as needed.
        </p>
    </div>
</div>
