<div class="row">
    <div class="column text-center">
        <h1>Quartic GroundControl</h1>
        <h3 class="subheader">
            All your data managed, prepared, and analysed in one platform. Exchange real time updates with the field.
        </h3>

        <p>&nbsp;</p>
    </div>
</div>

<div class="row medium-expand qt-product-row">
    <div class="small-12 medium-4 columns text-left">
        <h3>Knowledge base</h3>
        <h4 class="subheader">
            GroundControl’s knowledge base collates data from across your enterprise to build a seamless picture of your
            assets, personnel, and operations.
        </h4>
    </div>

    <div class="small-12 medium-4 colums">
        <img class="qt-mockup" width="400px" src="/assets/img/map_screenshot.png" />
    </div>


    <div class="small-12 medium-4 columns text-left">
        <p>
            <b>Data integration</b><br>
            Data sources are monitored continuously and combined intelligently to give a unified, searchable view of all
            of your data.
        </p>
        <p>
            <b>Situational awareness</b><br>
            Map and dashboard views give control room staff a bird's eye view of operations as they happen. When things
            go wrong, anyone in the organisation can dig in deeper to help diagnose issues.
        </p>
        <p>
            <b>Documentations and processes</b><br>
            are stored and kept up-to-date, published instantly to personnel in the field.
        </p>
    </div>
</div>

<div class="row medium-expand qt-product-row">
    <div class="small-12 medium-4 columns text-left">
        <h3>Artificial intelligence</h3>
        <h4 class="subheader">
            GroundControl's machine learning algorithms sift through the data in the knowledge base, picking out trends
            and either triggering actions directly, or flagging for further investigation by a human.
        </h4>
    </div>

    <div class="small-12 medium-4 columns">
        <img class="qt-mockup" width="400px" src="/assets/img/schedule_screenshot2.png" />
    </div>

    <div class="small-12 medium-4 columns text-left">
        <p>
            <b>Telemetry</b><br>
            Where telemetry data is available for assets, this can be monitored in realtime to spot potential failure
            conditions or simply surface unusual situations.
        </p>
        <p>
            <b>Inspection reports, work orders and asset records</b><br>
            are processed by online learning algorithms to identify repeated patterns of failure or inefficiencies in
            field operations. Simple visualisations enable humans to quickly investigate these issues and update the
            knowledge base appropriately.
        </p>
        <p>
            <b>Automatic scheduling</b><br>
            Whilst human action may be required in some cases, Quartic can automatically schedule work in cases where
            this is desired. This puts the right person in the right place at the right time.
        </p>
    </div>
</div>

<div class="row medium-expand qt-product-row">
    <div class="small-12 medium-4 columns text-left">
        <h3>Mobile app</h3>
        <h4 class="subheader">
            The GroundControl mobile app takes the enterprise to the field. Your engineers get the information they need
            at all times, and can reliably capture knowledge back in a paperless world.
        </h4>
    </div>

    <div class="small-12 medium-4 columns">
        <img class="qt-mockup" width="200px" src="/assets/img/mobile_screenshot.png" />
    </div>

    <div class="small-12 medium-4 columns text-left">
        <p>
            <b>Unified context at a touch</b><br>
            Once an engineer has been scheduled, they’re presented with
            context-dependent information from the knowledge base - documentation, historical maintenance trends,
            process changes, and more.
        </p>
        <p>
            <b>Manual data collection</b><br>
            The paperless office is also taking over the field. Data about faults, replaced parts, and job times can be
            used to inform future predictions and maintenance schedules.</p>
        <p>
            <b>Offline operations</b><br>
            Engineers often work in difficult locations without mobile reception, so the Quartic app stores as much as
            possible, and automatically pushes back when reception is re-established.
        </p>
    </div>
</div>

