<div class="row">
    <div class="column text-center">
        <h1>Quartic GroundControl.</h1>
        <h3 class="subheader">
            Monitor assets, predict failures, improve processes.
        </h3>

        <p>&nbsp;</p>
    </div>
</div>

<div class="row medium-expand qt-product-row">
    <div class="small-12 medium-4 columns text-left">
        <h3>Knowledge base</h3>
        <h4 class="subheader">
            GroundControl’s knowledge base collates data from across your enterprise to build a seamless picture of your
            assets, personnel, and operations.
        </h4>
    </div>

    <div class="small-12 medium-4 colums">
        <img class="qt-mockup" width="400px" src="/assets/img/map_screenshot.png" />
    </div>


    <div class="small-12 medium-4 columns text-left">
        <p>
            <b>Data integration</b><br>
            Data sources are continuously monitored and intelligently combined to give a unified, searchable view of
            your data.
        </p>
        <p>
            <b>Situational awareness</b><br>
            The Map and Dashboard give control room staff a bird's eye view of operations as they happen. When things
            go wrong, anyone in the organisation can dig in deeper to help remediate issues.
        </p>
        <p>
            <b>Documentation and processes</b><br>
            GroundControl stores documentation, work logs, and processes for your entire
            field workforce.
        </p>
    </div>
</div>

<div class="row medium-expand qt-product-row">
    <div class="small-12 medium-4 columns text-left">
        <h3>Artificial intelligence</h3>
        <h4 class="subheader">
            GroundControl's machine learning algorithms sift through the knowledge base, identifying trends and
            early signs of failure.  These predictions are used to trigger actions directly, or to notify a human
            for further investigation.
        </h4>
    </div>

    <div class="small-12 medium-4 columns">
        <img class="qt-mockup" width="400px" src="/assets/img/schedule_screenshot2.png" />
    </div>

    <div class="small-12 medium-4 columns text-left">
        <p>
            <b>Telemetry</b><br>
            Telemetry data can be monitored in real time to spot potential failure
            conditions or simply surface unusual situations.
        </p>
        <p>
            <b>Inspection reports, work orders and asset records</b><br>
            Field reports are algorithmically processed to identify patterns of failure or inefficiencies in
            field operations. Visualisations enable users to investigate these issues and update the
            knowledge base appropriately.
        </p>
        <p>
            <b>Automatic scheduling</b><br>
            Although human intervention may be required in some cases, Quartic can automatically schedule work as
            desired.  This puts the right person in the right place at the right time.
        </p>
    </div>
</div>

<div class="row medium-expand qt-product-row">
    <div class="small-12 medium-4 columns text-left">
        <h3>Mobile app</h3>
        <h4 class="subheader">
            The GroundControl mobile app takes the enterprise to the field. Your engineers are given the information
            they need for the job, and can reliably update the knowledge base.  So they can leave their notebooks and
            manuals at home.
        </h4>
    </div>

    <div class="small-12 medium-4 columns">
        <img class="qt-mockup" width="200px" src="/assets/img/mobile_screenshot.png" />
    </div>

    <div class="small-12 medium-4 columns text-left">
        <p>
            <b>Unified context at a touch</b><br>
            Once an engineer has been scheduled, they’re presented with
            relevant information from the knowledge base - documentation, historical maintenance trends,
            process changes, and more.
        </p>
        <p>
            <b>Manual data collection</b><br>
            The paperless office is also taking over the field. Data about faults, replaced parts, and job times are
            fed back to the knowledge base, to inform future predictions and maintenance schedules.</p>
        <p>
            <b>Offline operations</b><br>
            Engineers often work in difficult locations without mobile reception, so the Quartic app stores as much as
            possible, and automatically pushes back when reception is available again.
        </p>
    </div>
</div>

