<div class="row qt-padded-bottom">
    <div class="small-12 medium-6 columns">
        <h1>How it works.</h1>
        <h3 class="subheader">
            Our control platform and mobile app place your field engineers in the right place at the right time, and
            ensure they have the right information.  Automatically.
        </h3>
    </div>
    <div class="small-12 medium-6 columns">
        <img
            src="/assets/img/drawing.svg.png"
            alt="How Quartic's platform works"
        />
    </div>
</div>