<div class="row align-middle">
    <div class="small-12 medium-6 columns">
        <!-- TODO: need a better screenshot, and need to fix the shadow effect -->
        <img
            src="/assets/img/map_screenshot.png"
            alt="Quartic Map"
        />
    </div>
    <div class="small-12 medium-6 columns">
        <h1>Quartic untangles big infrastructure.</h1>
        <h4>
            Your infrastructure is out <b>there</b>, but your team can’t see it because they’re all sat <b>here</b>.
        </h4>
        <h4>
            You still question that £100k decision to resurface the road, despite the spreadsheet telling you to.
        </h4>
        <h4>
            You just discovered you have twice as many bins to empty as you previously thought.
        </h4>
    </div>
</div>