<div class="product-section row align-middle">
    <div class="small-12 medium-6 columns">
        <div class="hanging-off-screen-map">
            <img src="/assets/img/network.png" alt="UK network" style="opacity: 0.3; z-index: -100" />
        </div>
    </div>
    <div class="small-12 medium-6 columns">
        <h1>Imagine untangling things.</h1>
        <h4>
            <b>No more</b> fighting to maintain awareness between your office <b>here</b> and your infrastructure <b>there</b>.
        </h4>
        <h4>
            <b>No more</b> questioning £100k+ maintenance decisions (despite what the spreadsheet says).
        </h4>
        <h4>
            <b>No more</b> hidden surprises about the size of your inventory.
        </h4>
    </div>
</div>