<div class="row align-middle">
    <div class="small-12 medium-6 columns">
        <!-- TODO: need a better screenshot, and need to fix the shadow effect -->
        <img
            src="/assets/img/map_screenshot.png"
            alt="Quartic Map"
        />
    </div>
    <div class="small-12 medium-6 columns">
        <h1>Imagine untangling things.</h1>
        <h4 style="padding: 10px">
            <b>No more</b> fighting to maintain awareness between your office <b>here</b> and your infrastructure <b>there</b>.
        </h4>
        <h4 style="padding: 10px">
            <b>No more</b> questioning £100k+ maintenance decisions (despite what the spreadsheet says).
        </h4>
        <h4 style="padding: 10px">
            <b>No more</b> hidden surprises about the size of your inventory.
        </h4>
    </div>
</div>