<div class="product-section row align-middle">
    <div class="small-12 medium-6 columns">
        <!-- TODO: need a better screenshot, and need to fix the shadow effect -->
        <img
            src="/assets/img/map_screenshot.png"
            alt="Quartic Map"
        />
    </div>
    <div class="small-12 medium-6 columns">
        <h1>World class AI.</h1>
        <h4>
          With your data in one place, <b>AI-powered insights</b> can help you keep an eye on things.
        </h4>
        <h4>
          Our suite of domain-specific algorithms can <b>spot problems</b> and help you plan 
          infrastructure maintenance better.
        </h4>
        <h4>
          Share these insights with your colleages - in the <b>office</b> or the <b>field</b>.
        </h4>
    </div>
</div>