<div class="row align-middle">
    <div class="small-12 medium-6 columns">
        <!-- TODO: need a better screenshot, and need to fix the shadow effect -->
        <img
            src="/assets/img/map_screenshot.png"
            alt="Quartic Map"
        />
    </div>
    <div class="small-12 medium-6 columns">
        <h1>Insight those spreadsheets!</h1>
        <h4 style="padding: 10px">
          Easy access to clean data is just the beginning - Gen D orgs proactively dig out efficiency gains.
        </h4>
        <h4 style="padding: 10px">
          Takes manual effort - building models, trawling data for trends, tweaking/re-running in light of updated data.
        </h4>
        <h4 style="padding: 10px">
          Quartic’s suite of domain-specific insights, updated live, and accessible to everyone through the same search interface.
        </h4>
        <h4 style="padding: 10px">
          Powered by a data-science/AI framework under the hood.
        </h4>
    </div>
</div>