<div class="row align-middle">
    <div class="small-12 medium-6 columns">
        <!-- TODO: need a better screenshot, and need to fix the shadow effect -->
        <img
            src="/assets/img/map_screenshot.png"
            alt="Quartic Map"
        />
    </div>
    <div class="small-12 medium-6 columns">
        <h1>World class AI</h1>
        <h4 style="padding: 10px">
          With your data in one place, AI-powered insights can help you keep an eye on things.
        </h4>
        <h4 style="padding: 10px">
          Our suite of domain-specific algorithms can spot problems and help you plan 
          infrastructure maintenance better.
        </h4>
        <h4 style="padding: 10px">
          Share these insights with your colleages - in the office or the field.
        </h4>
    </div>
</div>