<div class="row">
    <div class="text-center columns">
        <section>
            <h1>Context across the enterprise. In real time.</h1>
        </section>
    </div>
</div>

<div class="row">
    <div class="small-12 small-centered text-center columns">
        <img src="/assets/img/products_image.png">
    </div>
</div>


<!-- ##########################
  Quartic in action
############################### -->
<p>&nbsp;</p>

<div class="row">
    <div class="columns small-12 medium-6">
        <div class="responsive-embed widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0A-Pm09gZ-o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="box-shadow: 0 0 1em #888;"></iframe>
        </div>

    </div>

    <div class="columns text-center small-12 medium-6">
        <h1>See it in action.</h1>

        <div class="text-left">
            <p class="lead">An engineer crosses three different safety areas on a construction site.</p>
            <ul>
                <li>Integrate site locations, asset data, and HSE requirements into Quartic.</li>
                <li>Deploy <b>Quartic Remote</b> to your field engineers.</li>
                <li>Use <b>Quartic GroundControl</b> to monitor and setup geofences on the site.</li>
                <li>Receive and send automated locations, ensuring safe practices and efficient operations.</li>
            </ul>
        </div>
    </div>
</div>
