

<nav>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">
            <a href="/">
                <img src="/assets/img/quartic_logo.png" class="qt-logo" />
            </a>
        </div>
    </div>

    <div class="top-bar" id="responsive-menu">
        <div class="row">
            <div class="column">
                <div class="top-bar-left hide-for-small-only">
                    <a href="/">
                        <img src="/assets/img/quartic_logo.png" class="qt-logo" />
                    </a>
                </div>

                <div class="top-bar-right">
                    <ul class="vertical medium-horizontal menu">
                        <li><a class="qt-menu" href="/about.html">About</a></li>
                        <li><a class="qt-menu" href="/pricing.html">Pricing</a></li>
                        <li><a class="qt-menu" href="https://medium.com/quartictech">Blog</a></li>
                        <li><a class="qt-menu" href="mailto:contact@quartic.io">Contact Us</a></li>
                        <li>&nbsp;</li>
                        <li><a class="qt-menu" href="/demo.html">Request a demo</a></li>
                        <li><a class="qt-button qt-menu" href="/trial.html">Start a free trial</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>