<div class="row">
	<div class="small-8 small-centered text-center columns"	>
		<section>
		<h2>Context across the enterprise. In real time.</h2>
		</section>
	</div>
</div>

<div class="row">
	<div class="small-12 small-centered text-center columns">
		<img src="{{root}}assets/img/products_image.png">
	</div>
</div>

<div class="row">
	<div class="small-4 text-left columns">
		<h2>GroundControl</h2>
			<p class="lead">
			  All your data managed, prepared and analysed in one platform. Receiving and sending real time updates to the field.
			</p>
	</div>
	<div class="small-8 columns">
		<h3>MgmtUI</h3>
		<p>View the status of all your datasets, live feeds and derived datasets.</p>
		<p>MgmtUI provides a catalogue of all the data available in the system as well as simple metrics on the data, provenence and basic uploads and downloads.</p>
		<p>
		We've engineered our software to handle almost any live data source. This means integrating new data to the system is as simple as connecting a stream to an API endpoint.
		</p>
	</div>
	<div class="small-8 small-offset-4 columns">
		<h3>Frontends</h3>
		<p>Our platform provides a number of frontends to manipulate and display your data. From powerful geospatial analytics to customisable dashboards.</p>
	<p>
	  Some more descriptives here.
	</p>
	</div>
	<div class="small-8 small-offset-4 columns">
		<h3>Analytics</h3>
		<p>Quartic Base can be used as a foundation for your Data Science team. All the data in the system is exposed through simple APIs and libraries, ready for consumption.</p>
		<p>
			&nbsp;
		</p>
		<p>
			&nbsp;
		</p>
	</div>
</div>

<div class="row">
	<div class="small-4 text-left columns">
		<h2>Remote</h2>
    	<p class="lead">
	      Our mobile application empowers your engineers and operatives with full situational awareness at their fingertips.
	    </p>
	</div>
	<div class="small-8 columns">
		<div class="media-object">
		  <div class="media-object-section">
		    <div class="thumbnail">
		      <img src="assets/img/google_pixel_map.png" width=150px>
		    </div>
		  </div>
		  <div class="media-object-section">
			  <h3>Take the enterprise on the road</h3>
			  <p class="lead">
			  	Quartic Remote enables all field personnel to receive and transmit information and alerts to and from GroundControl.
			  </p>
			  <ul>
				<li>
					Location tracking in real time, viewable from GroundControl and other field operatives.
				</li>
				<li>
					Custom alerting based on any metrics on any data in the system. Reroute operatives in a timely and prioritised manner with minimal effort, reducing cost and time.
				</li>
				<li>
					Send data back to base via photos and custom forms. See this data integrated immediately alongside everything else in GroundControl.
				</li>
			  </ul>
		  </div>
  		</div>
	</div>
</div>
