<div class="row">
		<div class="column text-center">
		<h1>Quartic Remote</h1>
    	<p class="lead">
	      Our mobile application empowers your engineers and operatives with full situational awareness at their fingertips.
</p>
	</div>
	</div>

<div class="row column">
		<div class="media-object">

		  <div class="media-object-section">
		    <div class="thumbnail">
		      <img src="assets/img/google_pixel_map.png" width=150px>
		    </div>
		  </div>

			<div class="media-object-section">
				<h2>Take the enterprise on the road</h2>
				<p class="lead">
					Quartic Remote enables all field personnel to receive and transmit information and alerts to and from GroundControl.
				</p>

				<p>
 				Location tracking in real time, viewable from GroundControl and other field operatives.
			  </p>

		<p>
					Custom alerting based on any metrics on any data in the system. Reroute operatives in a timely and prioritised manner with minimal effort, reducing cost and time.
			  </p>

				<p>
					Send data back to base via photos and custom forms. See this data integrated immediately alongside everything else in GroundControl.
					</p>

				</div>
		</div>		  		
</div>
