<div class="row">
    <div class="column text-center">
        <h1>Quartic Remote</h1>
        <h3 class="subheader">
            Full situational awareness at your fingertips.
        </h3>

        <p>&nbsp;</p>
    </div>
</div>

<div class="row align-center">
    <div class="small-12 medium-2 columns">
            <img src="assets/img/pixel_cropped.png" width=70%>
    </div>
    <div class="small-12 medium-6 text-left columns">
        <p class="lead"> Quartic Remote enables field personnel to send and receive information and alerts to and from <b>GroundControl</b>.
        </p>
        <ul>
            <li>Track locations and metrics in real time, viewable from <b>GroundControl</b> and by other field personnel. Collect the data for analysis.</li>
            <li>Receive custom alerting based on any metrics from any data in the system. Reroute operatives with minimal effort, reducing cost and time.</li>
            <li>Send data back to base via photos and custom forms. See this data integrated immediately alongside everything else in <b>GroundControl</b>.</li>
        </ul>
    </div>
</div>
