<div class="row align-middle">
    <div class="small-12 medium-6 columns">
        <!-- TODO: need a better screenshot, and need to fix the shadow effect -->
        <img
            src="/assets/img/map_screenshot.png"
            alt="Quartic Map"
        />
    </div>
    <div class="small-12 medium-6 columns">
        <h1>Everything at your fingertips</h1>
        <h4 style="padding: 10px">
            Integrating data is only the beginning. Quartic's platform
            puts data in reach of everyone who needs it.
        </h4>
        <h4 style="padding: 10px">
            Quickly search across spreadsheets, asset databases and IoT.
            Our powerful 360 view gives a single, seamless picture of your infrastructure.
        </h4>
        <h4 style="padding: 10px">
            Natural language search gets everyone to the data they need, fast. No SQL required!
        </h4>
    </div>
</div>