<div class="row align-middle">
    <div class="small-12 medium-6 columns">
        <!-- TODO: need a better screenshot, and need to fix the shadow effect -->
        <img
            src="/assets/img/map_screenshot.png"
            alt="Quartic Map"
        />
    </div>
    <div class="small-12 medium-6 columns">
        <h1>Search those spreadsheets!</h1>
        <h4 style="padding: 10px">
            Democratize/disrupt traditional data access routes - no more relying on Karim to answer everything.  Noobs in the field and CEOs can get the answer they want.
        </h4>
        <h4 style="padding: 10px">
            360 across spreadsheets, asset DBs, IoT, blockchains
        </h4>
        <h4 style="padding: 10px">
            Single tool, low barrier to entry, no arcane query languages.
        </h4>
    </div>
</div>