<div class="row align-middle">
    <div class="small-12 medium-6 columns">
        <!-- TODO: need a better screenshot, and need to fix the shadow effect -->
        <img
            src="/assets/img/map_screenshot.png"
            alt="Quartic Map"
        />
    </div>
    <div class="small-12 medium-6 columns">
        <h1>Everything at your fingertips.</h1>
        <h4 style="padding: 10px">
            Integrating data is only the <b>beginning</b>. Quartic's platform
            puts data in reach of <b>everyone</b> who needs it.
        </h4>
        <h4 style="padding: 10px">
            Search across <b>spreadsheets</b>, <b>asset databases</b> and <b>IoT</b>.
            Our <b>360 view</b> gives a single, <b>seamless</b> picture of your infrastructure.
        </h4>
        <h4 style="padding: 10px">
            <b>Natural language search</b> gets everyone to the data they need, fast. <b>No</b> SQL required!
        </h4>
    </div>
</div>