<div class="row">
  <div class="text-center columns">
    <p>&nbsp;</p>

    <h1>What it does</h1>
    <h3 class="subheader">
        Our control platform and field app disseminate timely and useful information to field operatives and collect data straight from the field. <b>All in real time.</b>
    </h3>

    <p>&nbsp;</p>
  </div>
</div>

<div class="row medium-expand">

    <div class="small-12 medium-4 text-center columns">
        <h3 class="qt-gimpy-icon fi-clipboard-pencil"></h3>
        <h4 class="subheader">collect</h4>
        <p>
            Collect, clean and manage all your enterprise data including from the field
        </p>
        <p><b>eg</b>, telemetry, databases, point-of-sale data</p>
    </div>

    <div class="small-12 medium-4 text-center columns">
        <h3 class="qt-gimpy-icon fi-sound"></h3>
        <h4 class="subheader">alert</h4>
        <p>
            Alert and notify your field and office personnel with important information
        </p>
        <p><b>eg</b>, update delivery routes as orders come in</p>
    </div>

    <div class="small-12 medium-4 text-center columns">
        <h3 class="qt-gimpy-icon fi-graph-trend"></h3>
        <h4 class="subheader">optimise</h4>
        <p>
            Analyse, visualise, and eliminate inefficiencies across the enterprise
        </p>
        <p><b>eg</b>, optimise routes and staffing over time</p>
    </div>

</div>
