<div class="row qt-padded-bottom">
    <div class="text-center columns">
        <p>&nbsp;</p>

        <h1>What it does.</h1>
        <h3 class="subheader">
            Our control platform and mobile app place your field engineers in the right place at the right time, and ensure they have the right information.  Automatically.
        </h3>
    </div>
</div>

<div class="row medium-expand">
    <div class="small-12 medium-4 text-center columns">
        <h3 class="qt-gimpy-icon fi-clipboard-pencil"></h3>
        <h3>observe</h3>
        <h4 class="subheader">
        <p>
            Collect and manage all your enterprise data, onsite and offsite, and everywhere in-between
        </p>
        <p><b>eg</b>, telemetry, databases, point-of-sale data</p>
        </h4>
    </div>

    <div class="small-12 medium-4 text-center columns">
        <h3 class="qt-gimpy-icon fi-loop"></h3>
        <h3>learn</h3>
<h4 class="subheader">
        <p>
            Alert and notify your field and office personnel with important information in real time
        </p>
        <p><b>eg</b>, update delivery routes as orders come in</p>
</h4>
    </div>

    <div class="small-12 medium-4 text-center columns">
        <h3 class="qt-gimpy-icon fi-universal-access"></h3>
        <h3>apply</h3>
        <h4 class="subheader ">
        <p>
            Analyse, visualise, and eliminate inefficiencies across the enterprise
        </p>
        <p><b>eg</b>, optimise routes and staffing over time</p>
        </h4>
    </div>

</div>
