<!DOCTYPE HTML>
<html class="no-js" lang="en">

<head>
    <title>Quartic Technologies - {{ title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{{ description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css" />
    <meta class="foundation-mq" />
    <link rel="shortcut icon" type="image/ico" href="/assets/img/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/img/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/img/icons/manifest.json">
    <link rel="mask-icon" href="/assets/img/icons/safari-pinned-tab.svg" color="#dd137b">
    <meta name="msapplication-config" content="/assets/img/icons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="https://www.quartic.io/">
    <meta property="og:title" content="Quartic Technologies">
    <meta property="og:description" content="Take the enterprise to the field. Exchange critical information with operatives and engineers, in real time.">
    <meta property="og:site_name" content="Quartic.io">
    <meta property="og:image" content="https://www.quartic.io/assets/img/quartic_logo_dark.png">
    <meta property="og:type" content="website">

    <!-- Version {{build.version}} -->

    {{> cookie_consent }}
</head>


<body>
    {{> body}}

    <!-- Footer -->
    <footer class="footer">
        <div class="row full-width align-center">
            <div class="column">
                <img src="/assets/img/quartic_logo_white.png" class="qt-logo" />

                <ul class="footer-icons">
                    <li>
                        <a href="https://twitter.com/quartictech" class="fi-social-twitter" style="font-size: 2em"></a>
                    </li>
                    <li>
                        <a href="https://facebook.com/quartictech" class="fi-social-facebook" style="font-size: 2em"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/quartic-technologies" class="fi-social-linkedin" style="font-size: 2em"></a>
                    </li>
                    <li>
                        <a href="mailto:contact@quartic.io" class="fi-mail" style="font-size: 2em"></a>
                    </li>
                </ul>

                <ul class="footer-links">
                    <li>&copy; Quartic Technologies 2017</li>
                    <li><a href="/privacy_policy.html">Privacy Policy</a></li>
                    <li>Maps:
                        <a href="https://www.openstreetmap.org/copyright">&copy; OpenStreetMap</a>,
                        <a href='https://www.mapbox.com/about/maps/'>&copy; Mapbox</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    {{#if build.production}}
    {{> google_analytics}}
    {{/if}}

    <script src="/assets/js/app.js"></script>
    <script src="//code.tidio.co/iqsyzk6yplajd2nqrcxg25jwls9snqnt.js"></script>
</body>

</html>
